[submodule "single-price-grid-component"]
	path = single-price-grid-component
	url = git@github.com:Caresle/single-price-grid-component.git
[submodule "article-preview-component"]
	path = article-preview-component
	url = git@github.com:Caresle/article-preview-component.git
[submodule "stats-preview-card-component"]
	path = stats-preview-card-component
	url = git@github.com:Caresle/stats-preview-card-component.git
[submodule "3-column-preview-card-component"]
	path = 3-column-preview-card-component
	url = git@github.com:Caresle/3-column-preview-card-component.git
[submodule "profile-card-component"]
	path = profile-card-component
	url = git@github.com:Caresle/profile-card-component.git
[submodule "social-media-dashboard"]
	path = social-media-dashboard
	url = git@github.com:Caresle/social-media-dashboard.git
[submodule "four-card-feature-section"]
	path = four-card-feature-section
	url = git@github.com:Caresle/four-card-feature-section.git
[submodule "social-proof-section"]
	path = social-proof-section
	url = git@github.com:Caresle/social-proof-section.git
[submodule "order-summary-card-solution"]
	path = order-summary-card-solution
	url = git@github.com:Caresle/order-summary-card-solution.git
[submodule "tip-calculator"]
	path = tip-calculator
	url = git@github.com:Caresle/tip-calculator.git
